<!-- /templates/page.liquid -->
<!-- Content Page -->
<h1 class="hidden">{{ page.title }}</h1>
<div class="faqs mh--100 flex middle-xs">
  <div class="row w--100">
  {{ page.content }}
  </div>
</div>
